In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("naive.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [20]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [21]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [22]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [23]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [24]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [25]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [26]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [27]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [29]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [30]:
model.fit(X_train,y_train)

GaussianNB()

In [31]:
model.score(X_test,y_test)

0.7611940298507462

In [32]:
X_test[0:10]

     Pclass        Age     Fare  female
805       3  31.000000   7.7750       0
491       3  21.000000   7.2500       0
293       3  24.000000   8.8500       1
735       3  28.500000  16.1000       0
717       2  27.000000  10.5000       1
152       3  55.500000   8.0500       0
259       2  50.000000  26.0000       1
794       3  25.000000   7.8958       0
825       3  29.699118   6.9500       0
828       3  29.699118   7.7500       0

In [33]:
y_test[0:10]

805    0
491    0
293    0
735    0
717    1
152    0
259    1
794    0
825    0
828    1
Name: Survived, dtype: int64

In [34]:
model.predict(X_test[0:10])

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 0], dtype=int64)

In [35]:
model.predict_proba(X_test[:10])

array([[0.97249659, 0.02750341],
       [0.96829442, 0.03170558],
       [0.42756964, 0.57243036],
       [0.97321809, 0.02678191],
       [0.2654019 , 0.7345981 ],
       [0.95507488, 0.04492512],
       [0.21433261, 0.78566739],
       [0.97086609, 0.02913391],
       [0.9720864 , 0.0279136 ],
       [0.97230493, 0.02769507]])

In [36]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.784     , 0.768     , 0.768     , 0.77419355, 0.82258065])